
.card{
   position: relative;
   box-shadow: 0px 4px 4px 0px rgba(0,0,0, 0.25);
   width: 335px;
   border-radius: 20px 20px 20px 20px;
   @include flexbox(column, flex-start, flex-start);
   &> img{
      border-radius: 20px 20px 0px 0px;
      object-fit: cover;
      height: 188px; 
      width: 335px;
   }

   &-details{
      background-color: $white;
      padding: 16px 12px 12px 12px;
      border-radius: 0px 0px 20px 20px;
      width: 312px;
      @include flexbox(row, space-between, center);
   }
}

.menu_card {

background-color: $white;
border-radius: 15px;
margin: 12px 0px 10px 0px;   
box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
padding: 12px 10px;
@include flexbox(row, space-between, center);

   .price{
      margin-top: 20px;
      font-weight: 500;
      color: $grey;
   }
}