html {
   box-sizing: border-box;
}

*, *:before, *:after {
   padding: 0;
   margin: 0;
   
}

body{
   width: 375px;
   background-color: $bg-color;
}

a{
   text-decoration: none;
   &:visited{
      color: $black;
   }
}
