@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&family=Shrikhand&display=swap');

.heading{
font-family: Roboto;
font-weight: 700;
   &_menu{
      font-family: Shrikhand;
      font-size: $main-heading;
      &-type{     
         position: relative;  
         font-weight: 300;
         font-size: $main-heading;
         &::after{
            position: absolute;
            content: '';
            height: 3px;
            width: 40px;
            left: 0;
            right: 0;
            bottom: -6px;
            background-color: $tertiary-color;
         }
      }
   }
   &_sub{
      font-size: $sub-heading;
   }
}


p {
   font-family: Roboto;
   font-size: $paragraph;
   font-weight: 300;
}

p.location-text {
   font-weight: 500;
}

span{
   font-family: Roboto;
   font-size: 15px;
   font-weight: 300;
}

.footer-logo{
   font-family: Shrikhand;
   font-size: $sub-heading;
}

ul li{
   font-family: Roboto;
}

button {
   font-family: Roboto;
}
