@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&family=Shrikhand&display=swap");
.heading {
  font-family: Roboto;
  font-weight: 700;
}
.heading_menu {
  font-family: Shrikhand;
  font-size: 1.3rem;
}
.heading_menu-type {
  position: relative;
  font-weight: 300;
  font-size: 1.3rem;
}
.heading_menu-type::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 40px;
  left: 0;
  right: 0;
  bottom: -6px;
  background-color: #99E2D0;
}
.heading_sub {
  font-size: 1.25rem;
}

p {
  font-family: Roboto;
  font-size: 1.125rem;
  font-weight: 300;
}

p.location-text {
  font-weight: 500;
}

span {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

.footer-logo {
  font-family: Shrikhand;
  font-size: 1.25rem;
}

ul li {
  font-family: Roboto;
}

button {
  font-family: Roboto;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  padding: 0;
  margin: 0;
}

body {
  width: 375px;
  background-color: #F6F6F6;
}

a {
  text-decoration: none;
}
a:visited {
  color: #101010;
}

.btn {
  height: 3.125rem;
  border-radius: 50px 50px;
  padding: 0.9rem;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.btn--gradient {
  background-image: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  color: #FFFFFF;
}
.btn:hover {
  opacity: 0.85;
}

.card {
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 335px;
  border-radius: 20px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0px;
}
.card > img {
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
  height: 188px;
  width: 335px;
}
.card-details {
  padding: 16px 12px 12px 12px;
  width: 312px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
}

.menu_card {
  background-color: #FFFFFF;
  border-radius: 15px;
  margin: 12px 0px 10px 0px;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  padding: 12px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
}
.menu_card .price {
  margin-top: 20px;
  font-weight: 500;
  color: #353535;
}

.header {
  background-color: #FFFFFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 1;
  position: relative;
}
.header .header-logo {
  padding: 14px 0px 14px 0px;
  transform: translate(50%);
}
.header-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0px;
  padding-left: 26px;
  padding-bottom: 4px;
}
.header-menu .header-logo {
  padding: 14px 0px 14px 0px;
  transform: translate(26%);
}

.location {
  background-color: #EAEAEA;
  text-align: center;
  padding: 16px 0px 16px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 0px;
}
.location .location-text {
  margin-left: 17px;
}

.footer {
  background-color: #353535;
  color: #FFFFFF;
  padding: 22px 0px 33px 25px;
}
.footer > ul {
  margin-top: 9px;
}
.footer > ul > li {
  margin-bottom: 7px;
  list-style-type: none;
}
.footer > ul > li > i {
  margin-right: 10px;
}
.footer > ul > li > p {
  font-size: 0.98rem;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  text-align: center;
  margin-top: 39px;
  margin-bottom: 57px;
}

.how-to {
  background-color: #FFFFFF;
  padding-top: 48px;
  padding-bottom: 68px;
}
.how-to > h1 {
  margin-left: 20px;
}
.how-to .instructions {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 24px;
  padding-top: 26px;
  counter-reset: list;
}
.how-to .instructions > li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0px;
}
.how-to .instructions > li .instruction-btn {
  position: relative;
  margin-right: 25px;
  height: 4rem;
  background-color: #F6F6F6;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 20px 20px 20px 20px;
  width: 300px;
  cursor: pointer;
}
.how-to .instructions > li .instruction-btn:hover {
  background-color: #F5EDFF;
}
.how-to .instructions > li .instruction-btn:hover .instruction_icon-mobile {
  filter: invert(40%) sepia(53%) saturate(1285%) hue-rotate(235deg) brightness(91%) contrast(90%);
}
.how-to .instructions > li .instruction-btn:hover .instruction_icon-list {
  filter: invert(40%) sepia(53%) saturate(1285%) hue-rotate(235deg) brightness(91%) contrast(90%);
}
.how-to .instructions > li .instruction-btn:hover .instruction_icon-store {
  filter: invert(40%) sepia(53%) saturate(1285%) hue-rotate(235deg) brightness(91%) contrast(90%);
}
.how-to .instructions > li .instruction_icon {
  display: inline-block;
  width: 13px;
  height: 20px;
  margin-right: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  color: red;
  border: none;
  filter: invert(54%) sepia(0%) saturate(1275%) hue-rotate(193deg) brightness(91%) contrast(85%);
}
.how-to .instructions > li .instruction_icon-mobile {
  background-image: url(../assets/icons/mobile.svg);
  position: absolute;
  left: 40px;
  top: 23px;
}
.how-to .instructions > li .instruction_icon-list {
  background-image: url(../assets/icons/list.svg);
  position: absolute;
  left: 40px;
  top: 25px;
}
.how-to .instructions > li .instruction_icon-store {
  background-image: url(../assets/icons/store.svg);
  position: absolute;
  left: 40px;
  top: 25px;
}
.how-to .instructions > li::before {
  font-family: Roboto;
  counter-increment: list;
  content: counter(list);
  background: #9356DC;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  z-index: 1;
  text-align: center;
  color: #FFFFFF;
  left: 10px;
  position: absolute;
  margin-top: 5px;
  padding-top: 3px;
}

.results {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 18px;
  margin-top: 54px;
  margin-bottom: 64px;
}
.results > h1 {
  margin-left: 20px;
}
.results > a {
  margin-left: 20px;
}

.badge {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 8px 15px 8px 15px;
  font-size: 14px;
  font-family: Roboto;
  border-radius: 2px;
}
.badge-new {
  background-color: #99E2D0;
  color: #008766;
}

.menu {
  position: relative;
  background-color: #F6F6F6;
}
.menu > img {
  width: 375px;
  height: 289px;
  z-index: -1;
  object-fit: cover;
  object-position: top;
}
.menu-content {
  position: relative;
  top: -30px;
  background-color: #F6F6F6;
  border-radius: 30px 30px 0px 0px;
  padding-left: 10px;
  padding-right: 10px;
}

.menu-wrapper {
  margin-bottom: 40px;
}

.heading_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
  padding: 32px 7px 40px 7px;
}

.btn_menu-wrapper {
  text-align: center;
}

.btn_menu {
  padding: 0px 50px;
  margin: 20px 0px 20px 0px;
}

/*# sourceMappingURL=styles.css.map */
