@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&family=Shrikhand&display=swap");
@keyframes check-appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes check-disappear {
  100% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
}
@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes loader-disappear {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}
@keyframes menu-appear {
  0% {
    transform: scale(0.95);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes content-appear {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.heading {
  font-family: Roboto;
  font-weight: 700;
}
.heading_menu {
  font-family: Shrikhand;
  font-size: 1.3rem;
}
.heading_menu-type {
  position: relative;
  font-weight: 300;
  font-size: 1.3rem;
}
.heading_menu-type::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 40px;
  left: 0;
  right: 0;
  bottom: -6px;
  background-color: #99E2D0;
}
.heading_sub {
  font-size: 1.25rem;
}

p {
  font-family: Roboto;
  font-size: 1.125rem;
  font-weight: 300;
}

p.location-text {
  font-weight: 500;
}

span {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

.footer-logo {
  font-family: Shrikhand;
  font-size: 1.25rem;
}

ul li {
  font-family: Roboto;
}

button {
  font-family: Roboto;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  padding: 0;
  margin: 0;
}

body {
  width: 375px;
  background-color: #F6F6F6;
}

a {
  text-decoration: none;
  color: #101010;
}
a:visited {
  color: #101010;
}

.btn {
  height: 3.125rem;
  border-radius: 50px 50px;
  padding: 0.9rem;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.btn--gradient {
  background-image: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  color: #FFFFFF;
}
.btn:hover {
  opacity: 0.85;
}

.heart-container {
  position: relative;
  cursor: pointer;
}

.icon-empty {
  color: #101010;
  position: absolute;
  top: -17px;
  left: -10px;
  font-size: 1.5em;
}

.icon-empty:hover {
  display: none;
}

.icon-full {
  color: transparent;
  position: absolute;
  top: -17px;
  left: -10px;
  font-size: 1.5em;
  transition: color 1.2s ease-out;
}

.icon-full:hover {
  color: #9356DC;
  transition: color 1s ease-out;
}

.card {
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 335px;
  border-radius: 20px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0px;
}
.card > img {
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
  height: 188px;
  width: 335px;
}
.card-details {
  background-color: #FFFFFF;
  padding: 16px 12px 12px 12px;
  border-radius: 0px 0px 20px 20px;
  width: 312px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
}

.menu_card {
  position: relative;
  background-color: #FFFFFF;
  border-radius: 15px;
  margin: 12px 0px 10px 0px;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  padding: 12px 10px;
}
.menu_card .price {
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-weight: 500;
  color: #353535;
  transition: right 1s;
}
.menu_card .check {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #99E2D0;
  border-radius: 0px 15px 15px 0px;
  height: 66px;
  width: 0px;
  animation: check-disappear 1s ease-out;
  transition: width 1s;
}
.menu_card .check-icon {
  display: inline-block;
  position: absolute;
  font-size: 1.4em;
  color: #FFFFFF;
  left: 23px;
  top: 23px;
  opacity: 0;
}
.menu_card:hover .price {
  right: 68px;
}
.menu_card:hover .check_hover-appear {
  animation: check-appear 1s ease-in;
  width: 66px;
}
.menu_card:hover .check-icon {
  opacity: 1;
}

.header {
  background-color: #FFFFFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 1;
  position: relative;
}
.header .header-logo {
  padding: 14px 0px 14px 0px;
  transform: translate(50%);
}
.header-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0px;
  padding-left: 26px;
  padding-bottom: 4px;
}
.header-menu .header-logo {
  padding: 14px 0px 14px 0px;
  transform: translate(26%);
}

.location {
  background-color: #EAEAEA;
  text-align: center;
  padding: 16px 0px 16px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 0px;
}
.location .location-text {
  margin-left: 17px;
}

.footer {
  background-color: #353535;
  color: #FFFFFF;
  padding: 22px 0px 33px 25px;
}
.footer > ul {
  margin-top: 9px;
}
.footer > ul > li {
  margin-bottom: 7px;
  list-style-type: none;
}
.footer > ul > li > i {
  margin-right: 10px;
}
.footer > ul > li > p {
  font-size: 0.98rem;
}

.main-container {
  animation: content-appear 2s;
  width: 100%;
}

.loader-container {
  position: absolute;
  left: 40%;
  top: 50%;
  visibility: hidden;
  animation: loader-disappear 2s;
}
.loader-container .loader-content {
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 8px solid #fff;
  border-color: #99E2D0 transparent transparent transparent;
  animation: loader 1s linear infinite;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  text-align: center;
  margin-top: 39px;
  margin-bottom: 57px;
}

.how-to {
  background-color: #FFFFFF;
  padding-top: 48px;
  padding-bottom: 68px;
}
.how-to > h1 {
  margin-left: 20px;
}
.how-to .instructions {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 24px;
  padding-top: 26px;
  counter-reset: list;
}
.how-to .instructions > li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0px;
}
.how-to .instructions > li .instruction-btn {
  position: relative;
  margin-right: 25px;
  height: 4rem;
  background-color: #F6F6F6;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 20px 20px 20px 20px;
  width: 300px;
  cursor: pointer;
}
.how-to .instructions > li .instruction-btn:hover {
  background-color: #F5EDFF;
}
.how-to .instructions > li .instruction-btn:hover .instruction_icon-mobile {
  filter: invert(40%) sepia(53%) saturate(1285%) hue-rotate(235deg) brightness(91%) contrast(90%);
}
.how-to .instructions > li .instruction-btn:hover .instruction_icon-list {
  filter: invert(40%) sepia(53%) saturate(1285%) hue-rotate(235deg) brightness(91%) contrast(90%);
}
.how-to .instructions > li .instruction-btn:hover .instruction_icon-store {
  filter: invert(40%) sepia(53%) saturate(1285%) hue-rotate(235deg) brightness(91%) contrast(90%);
}
.how-to .instructions > li .instruction_icon {
  display: inline-block;
  width: 13px;
  height: 20px;
  margin-right: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  color: red;
  border: none;
  filter: invert(54%) sepia(0%) saturate(1275%) hue-rotate(193deg) brightness(91%) contrast(85%);
}
.how-to .instructions > li .instruction_icon-mobile {
  background-image: url(../assets/icons/mobile.svg);
  position: absolute;
  left: 40px;
  top: 23px;
}
.how-to .instructions > li .instruction_icon-list {
  background-image: url(../assets/icons/list.svg);
  position: absolute;
  left: 40px;
  top: 25px;
}
.how-to .instructions > li .instruction_icon-store {
  background-image: url(../assets/icons/store.svg);
  position: absolute;
  left: 40px;
  top: 25px;
}
.how-to .instructions > li::before {
  font-family: Roboto;
  counter-increment: list;
  content: counter(list);
  background: #9356DC;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  z-index: 1;
  text-align: center;
  color: #FFFFFF;
  left: 10px;
  position: absolute;
  margin-top: 5px;
  padding-top: 3px;
}

.results {
  margin-top: 54px;
  margin-bottom: 64px;
}
.results > h1 {
  margin-left: 20px;
  margin-bottom: 20px;
}
.results .result_container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 18px;
}
.results .result_container > a {
  margin-left: 20px;
}
.results .home-heart {
  margin-right: 25px;
}

.badge {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 8px 15px 8px 15px;
  font-size: 14px;
  font-family: Roboto;
  border-radius: 2px;
}
.badge-new {
  background-color: #99E2D0;
  color: #008766;
}

.menu {
  background-color: #FFFFFF;
}
.menu > img {
  width: 375px;
  height: 289px;
  z-index: -1;
  object-fit: cover;
}
.menu-content {
  transform: translate(0, -30px);
  background-color: #F6F6F6;
  border-radius: 30px 30px 0px 0px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: -30px;
}
.menu .menu-appetizer {
  animation: menu-appear 2s ease-in;
}
.menu .menu-dishes {
  animation: menu-appear 2.5s ease-in;
}
.menu .menu-desserts {
  animation: menu-appear 3s ease-in;
}

.menu-wrapper {
  margin-bottom: 40px;
}

.heading_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
  padding: 32px 7px 40px 7px;
}

.btn_menu-wrapper {
  text-align: center;
}

.btn_menu {
  padding: 0px 50px;
  margin: 20px 0px 20px 0px;
}

@media screen and (min-width: 376px) {
  body {
    background-color: #F6F6F6;
    width: auto;
  }
  .loader-container {
    left: 50%;
  }
  .header-logo {
    margin-left: auto;
    margin-right: auto;
    height: 54px;
    width: 50%;
  }
  .header-menu .header-logo {
    margin-left: auto;
    margin-right: auto;
    height: 54px;
    transform: translate(-20px);
  }
  /* Home Page */
  .about h1.heading {
    font-size: 40px;
  }
  .how-to > h1 {
    margin-left: 200px;
  }
  .how-to .instructions {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    margin-left: 200px;
  }
  .how-to .instructions > li::before {
    left: auto;
    transform: translate(-12px);
  }
  .results > h1 {
    margin-left: 200px;
    margin-bottom: 28px;
  }
  .results .result_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 0px;
    margin-left: 110px;
  }
  /* Menu Pages */
  .heading_menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
  .icon-empty {
    left: 0;
  }
  .icon-full {
    left: 0;
  }
  .menu > img {
    height: 423px;
    width: 100%;
    object-fit: cover;
  }
  .menu-content {
    margin-left: 192px;
    margin-right: 192px;
    padding-left: 211px;
    padding-right: 211px;
  }
  .footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0px;
  }
  .footer > h2 {
    margin-left: 71px;
    margin-right: 80px;
  }
  .footer > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 40px;
  }
}

/*# sourceMappingURL=styles.css.map */
