.main-container {
   animation: content-appear 2s;
   width:100%;
}

.loader-container {
   position: absolute;
   left: 50vw;
   top: 50%;
   visibility: hidden;
   animation: loader-disappear 2s;
   .loader-content {
      display: block;
      width: 64px;
      height: 64px;
      margin: 8px;
      border-radius: 50%;
      border: 8px solid #fff;
      border-color: $tertiary-color transparent transparent transparent;
      animation: loader 1s linear infinite;
   }
}

.about {
   @include flexbox(column, flex-start, center, 20px);
   text-align: center;
   margin-top: 39px;
   margin-bottom: 57px;
}

.how-to {
   background-color: $white;
   padding-top: 48px;
   padding-bottom: 68px;

   > h1{
      margin-left: 20px;   
   }


.instructions {
@include flexbox(column, space-evenly, center, 24px);
padding-top: 26px;
counter-reset: list;
   > li {
      @include flexbox(row, flex-start, center);
      .instruction-btn {
         position: relative;
         margin-right: 25px;
         height: 4rem;
         background-color: $bg-color;
         border: none;
         box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
         border-radius: 20px 20px 20px 20px;
         width: 300px;
         cursor: pointer;
         &:hover {
            background-color: $primary-color-alt;
            .instruction_icon-mobile{
               filter: invert(40%) sepia(53%) saturate(1285%) hue-rotate(235deg) brightness(91%) contrast(90%);
            }
            .instruction_icon-list{
               filter: invert(40%) sepia(53%) saturate(1285%) hue-rotate(235deg) brightness(91%) contrast(90%);
            }
            .instruction_icon-store{
               filter: invert(40%) sepia(53%) saturate(1285%) hue-rotate(235deg) brightness(91%) contrast(90%);
            }
         }
         }
   
         .instruction_icon {
            display: inline-block;
            width: 13px;
            height: 20px;
            margin-right: 20px;
            background-size: contain;
            background-repeat: no-repeat;
            color: red;
            border: none;
            filter: invert(54%) sepia(0%) saturate(1275%) hue-rotate(193deg) brightness(91%) contrast(85%);
            &-mobile{
               background-image: url(../assets/icons/mobile.svg);
               position: absolute;
               left: 40px;
               top: 23px;
            }

            &-list{
               background-image: url(../assets/icons/list.svg);
               position: absolute;
               left: 40px;
               top: 25px; 
            }

            &-store{
               background-image: url(../assets/icons/store.svg);
               position: absolute;
               left: 40px;
               top: 25px;
            }
         }

        

         &::before{
            font-family: Roboto;
            counter-increment: list;
            content: counter(list);
            background: $primary-color;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            z-index: 1;
            text-align: center;
            color: $white;
            left: 10px;
            position: absolute;
            margin-top: 5px;
            padding-top: 3px;
         }
      }
   }
}
.results {
   margin-top: 54px;
   margin-bottom: 64px;
   > h1 {
      margin-left: 20px; 
   }
   .result_container {
      @include flexbox(column, space-evenly, flex-start, 18px);
      > a{
         margin-left: 20px; 
      }
   }

   .home-heart{
      margin-right: 25px;
   }
   
}

.badge {
   position: absolute;
   top: 15px;
   right: 15px;
   padding: 8px 15px 8px 15px;
   font-size: 14px;
   font-family: Roboto;
   border-radius: 2px;
   &-new{
      background-color: $tertiary-color;
      color: $green;
   }
}
