.header {
   background-color: $white;
   box-shadow: 0px 4px 4px 0px rgba(0,0,0, 0.25);
   z-index: 1;
   position: relative;
   
   .header-logo {
      padding: 14px 0px 14px 0px;
      transform: translate(50%);
   }
}

.location {
   background-color: $grey-alt;
   text-align: center;
   padding: 16px 0px 16px 0px;
   @include flexbox(row, center);
}